/*
░░░░░██╗░█████╗░░██████╗███████╗
░░░░░██║██╔══██╗██╔════╝██╔════╝
░░░░░██║██║░░██║╚█████╗░█████╗░░
██╗░░██║██║░░██║░╚═══██╗██╔══╝░░
╚█████╔╝╚█████╔╝██████╔╝███████╗
░╚════╝░░╚════╝░╚═════╝░╚══════╝*/

body {
    background: linear-gradient(to bottom, #0f0f10,#072554,#09538b);
    height: 100vh;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

div {
    width: 200px;
    height: 100px;
    border: ridge 4px;
    border-image: linear-gradient(to right, #d2d2d6,#75b4e4) 1;
}

p {
    font-size: 2em; /* Tamaño del texto */
    font-weight: bold; /* Grosor del texto */
    background: linear-gradient(to right,  #d2d2d6,#75b4e4); /* Degradado de gris oscuro a azul */
    -webkit-background-clip: text; /* Aplica el degradado al texto en navegadores WebKit */
    -webkit-text-fill-color: transparent; /* Hace que el texto sea transparente para mostrar el degradado */
    background-clip: text; /* Aplica el degradado al texto en otros navegadores */
    color: transparent; /* Hace que el texto sea transparente para mostrar el degradado */
}

